<div class="jumbotron" role="alert"><h1 class="text-center"> Welcome back, <%= @name %>! We missed you!</h1>
<a class="btn btn-primary btn-block btn-lg text-center center" role="button" href="/">Proceed to site.</a></div>